<% 
    raise "Missing 'icon_color' key in header landing page block" unless local_assigns['icon_color']
    raise "Missing 'icon' key in header landing page block" unless local_assigns['icon']
    raise "Missing 'title' key in header landing page block" unless local_assigns['title']
    raise "Missing 'center_subtitle' key in header landing page block" if (local_assigns['subtitle'] && local_assigns['center_subtitle'].nil?)
%>
    <h1 class="Vlt-title--icon <%= 'Vlt-title--center' if local_assigns['center_title'] %>">
    <svg class="Vlt-<%= local_assigns['icon_color'] %>"><use xlink:href="/symbol/volta-icons.svg#Vlt-<%= local_assigns['icon']%>"></use></svg>
    <%= local_assigns['title'] %>
</h1>
<% if local_assigns['subtitle'] %>
    <% if local_assigns['center_subtitle'] == false %>
        <% if local_assigns['subtitle_type'] == 'small' %> <p> <% else %> <p class="p-large"> <% end %>
            <%= local_assigns['subtitle'].render_markdown({skip_paragraph_surround: true}) %>
        </p>
    <% elsif local_assigns['center_subtitle'] == true %>
        <div class="Vlt-center">
            <% if local_assigns['subtitle_type'] == 'small' %> <p> <% else %> <p class="p-large"> <% end %>
                <%= local_assigns['subtitle'].render_markdown({skip_paragraph_surround: true}) %>
            </p>
        </div>
    <% else %>
        <% raise "Invalid value for key 'center_subtitle': #{local_assigns['center_subtitle']}" %>
    <% end %>
<% end %>