<div class="spacious content-block extend-title">
    <small><a href="/extend">&larr; Back to Extend Catalog</a></small>
    <% if @extension[:image] != '' %>
    <img src='<%= @extension[:image] %>' alt='<%= @extension[:title]%>' />
    <% end %>
    <h1><%= @extension[:title] %></h1>
</div>

<div class="extend-info-banner">
    <div class="extend-info-banner--content">
        <div class="description">
            <%= @extension[:description] %>
        </div>
        <div class="details">
            <div class="tags">
                <h2>Tags</h2>
                <ul>
                <% @extension[:tags].each do |tag| %>
                <li><%= tag %></li>
                <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="extend-info-banner--background"></div>
</div>

<div class="extend-content">
    <%= @extension[:body].html_safe %>
</div>
