<div class="container">
  <div class="content-block center spacious">
    <h1>Careers</h1>
    <div class="Vlt-col">
      <div class="Vlt-native-dropdown">
        <%= select_tag 'department',
          options_from_collection_for_select(Career::DEPARTMENTS.sort, :first, :first),
          prompt: 'All departments',
          id: 'department-filter'
        %>
      </div>
      <div class="Vlt-native-dropdown">
        <%= select_tag 'location',
          options_for_select(Greenhouse.offices.map { |o| o[:name] }),
          prompt: 'All locations',
          id: 'location-filter'
        %>
      </div>
    </div>
  </div>

  <div class="Vlt-table Vlt-table--data" id="careers">
    <table>
      <tbody>
        <% Career::DEPARTMENTS.sort.each do |name, codes| %>
          <% codes.each do |code| %>
            <% @careers_by_department[code].each do |career| %>
              <tr class="Nxd-career">
                <td class="title"><%= link_to career.title, career.url, class: "Vlt-text-link" %></td>
                <td class="department" data-department="<%= name %>"><small><%= name %></small></td>
                <td class="location" data-location="<%= career.location %>"><small><%= career.location %></small></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

    <div class='Vlt-empty hide' id='no-results'>
      <div class='Vlt-empty__content'>
        There are no results that match your criteria.
      </div>
    </div>

</div>
