<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/partials/head' %>
  <body class="<%= theme %>" data-push-state-root="<%= canonical_path %>">
    <%= render partial: 'layouts/partials/header' %>
    <div class="wrapper wrapper--tint">
      <%= render partial: 'layouts/partials/notices' %>
      <div class="Vlt-grid">
          <% @landing_config["rows"].each do |row| %>
          <div class="row">
            <% row["columns"].each do |info| %>
              <% if row['column_count']%>
                <div class="Vlt-col--<%= info["width"] %>of<%= row['column_count'] %>">
              <% else %>
                <div class="Vlt-col">
              <% end %>
              <% info["entries"].each do |data| %>
                <%= render partial: "layouts/partials/landing_pages/#{data['type']}", data: data  %>
              <% end %>
              </div>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  <%= render partial: 'layouts/partials/footer' %>
  </body>
</html>

